<div class="row m-4">
  <div *ngFor="let item of items"  class="col-sm-3 mt-4">
    <div class="card">
      <img class="card-img-top" src={{item.img}} alt="Card image">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <span class="card-title text-primary">{{item.brand}}</span>
        <p class="card-text">{{item.description}}</p>
        <span class="card-title text-success">Precio: ${{item.price}}</span>
        <br>
        <button class="btn btn-primary mt-3">Detalles</button>
        <button class="btn btn-primary mt-3 ms-2" (click)="editTool(item.id)">Editar</button>
      </div>
    </div>
  </div>
</div>
