<app-nav-bar></app-nav-bar>

<div class="container m-5">

    <h1>Buscar Herramienta</h1>
    <hr class="hr">

    <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="search()">
        <div class="form-group row mb-5">
            
            <div class="col mt-3">
                <input type="text" 
                class="form-control" 
                id="inputText" 
                aria-describedby="inputText" 
                placeholder="Buscar por..."
                formControlName="inputText"
                [class.is-invalid]="inputNotValid">
                <small *ngIf="inputNotValid" class="text-danger">
                    Ingrese texto
                </small>
            </div>
            <div class="col-auto mt-3">
                <select class="form-select" 
                aria-label="Select option"
                formControlName="selected"
                [class.is-invalid]="selectNotValid">
                    <option value="">Seleccione</option>
                    <option *ngFor="let option of Options" [ngValue]="option">
                        {{ option }}
                    </option>
                </select>
            </div>
            <div class="col-6 mt-3">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div>
                
    </form>

    <h2>Resultados</h2>
    <hr class="hr">

    <div class="row" *ngIf="tools.length == 0">
        <div class="col-md-12">
            <div class="alert alert-warning">
                No existen resultados
            </div>
        </div>
    </div>

    <app-tool-card [items]="tools"></app-tool-card>

</div>

<app-footer></app-footer>
